<div class="">
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: 'large' }}" alt="">
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
  </a>
  {{- product.title | link_to: product.url }}
</div>
